<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content_html %>
    <%= form.text_area :content_html, {:class => 'form-control'} %>
  </div>

  <%= form.fields_for :answer do |a| %>
    <div class="form-group">
      <%= a.label :content, 'Answer' %>
      <%= a.text_area :content, {:class => 'form-control'} %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
