<h1>Quiz</h1>

<%= render 'shared/flash' %>

<div class="mb-3">
  <%== @question.content_html %>
</div>

<%= form_with(url: quiz_path, method: :post, scope: :quiz, local: true) do |form| %>
  <%= hidden_field_tag 'quiz[question_id]', @question.id %>

  <div class="form-group">
    <%= form.text_area :answer, {:class => 'form-control', :placeholder => 'Please enter the Answer'} %>
  </div>

  <div class="form-group">
    <%= form.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
